cannes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Cannes" type="CannesType"/>
  <xs:complexType name="genresType">
    <xs:sequence>
      <xs:element type="genreType" name="genre" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="languageType">
    <xs:sequence>
      <xs:element name="name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Anglais"/>
            <xs:enumeration value="Filipino"/>
            <xs:enumeration value="Français"/>
            <xs:enumeration value="Farsi"/>
            <xs:enumeration value="Roumain"/>
            <xs:enumeration value="Portugais"/>
            <xs:enumeration value="Coréen"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="movieType">
    <xs:sequence>
      <xs:element type="xs:string" name="code"/>
      <xs:element type="xs:string" name="title"/>
      <xs:element type="xs:string" name="movie_type"/>
      <xs:element type="xs:string" name="production_year"/>
      <xs:element type="xs:string" name="release_date"/>
      <xs:element name="duration">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="5940"/>
            <xs:enumeration value="6600"/>
            <xs:enumeration value="5700"/>
            <xs:enumeration value="7380"/>
            <xs:enumeration value="6300"/>
            <xs:enumeration value="7680"/>
            <xs:enumeration value="9840"/>
            <xs:enumeration value="6900"/>
            <xs:enumeration value="8700"/>
            <xs:enumeration value="6000"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="synopsis"/>
      <xs:element type="nationalitiesType" name="nationalities"/>
      <xs:element type="languagesType" name="languages"/>
      <xs:element type="genresType" name="genres"/>
      <xs:element type="cast_membersType" name="cast_members"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="juryType">
    <xs:sequence>
      <xs:element type="personType" name="person" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="palmaresType">
    <xs:sequence>
      <xs:element type="prixType" name="prix" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="filmType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="code" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="languagesType">
    <xs:sequence>
      <xs:element type="languageType" name="language"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CannesType">
    <xs:sequence>
      <xs:element type="moviesType" name="movies"/>
      <xs:element type="juryType" name="jury"/>
      <xs:element type="personsType" name="persons"/>
      <xs:element type="palmaresType" name="palmares"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="year"/>
  </xs:complexType>
  <xs:complexType name="cast_membersType">
    <xs:sequence>
      <xs:element type="personType" name="person" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="genreType">
    <xs:sequence>
      <xs:element name="name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Drame"/>
            <xs:enumeration value="Fantastique"/>
            <xs:enumeration value="Thriller"/>
            <xs:enumeration value="Comédie"/>
            <xs:enumeration value="Romance"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="prixType">
    <xs:sequence>
      <xs:element type="filmType" name="film"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="optional"/>
  </xs:complexType>
  <xs:complexType name="nationalityType" mixed="true">
    <xs:sequence>
      <xs:element name="name" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Grande-Bretagne"/>
            <xs:enumeration value="France"/>
            <xs:enumeration value="Belgique"/>
            <xs:enumeration value="Philippines"/>
            <xs:enumeration value="Canada"/>
            <xs:enumeration value="Iran"/>
            <xs:enumeration value="Roumanie"/>
            <xs:enumeration value="U.S.A."/>
            <xs:enumeration value="Brésil"/>
            <xs:enumeration value="Corée du Sud"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="optional"/>
  </xs:complexType>
  <xs:complexType name="personsType">
    <xs:sequence>
      <xs:element type="personType" name="person" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="nationalitiesType" mixed="true">
    <xs:sequence>
      <xs:element type="nationalityType" name="nationality" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="personType" mixed="true">
    <xs:sequence>
      <xs:element type="xs:string" name="id" minOccurs="0"/>
      <xs:element type="xs:string" name="role" minOccurs="0"/>
      <xs:element type="xs:string" name="code" minOccurs="0"/>
      <xs:element type="xs:string" name="name" minOccurs="0"/>
      <xs:element name="gender" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="female"/>
            <xs:enumeration value="male"/>
            <xs:enumeration value=""/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="biograhy" minOccurs="0"/>
      <xs:element type="nationalitiesType" name="nationalities" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="code" use="optional"/>
  </xs:complexType>
  <xs:complexType name="moviesType">
    <xs:sequence>
      <xs:element type="movieType" name="movie" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>