export.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Cannes" type="CannesType"/>
  <xs:complexType name="genresType">
    <xs:sequence>
      <xs:element type="genreType" name="genre" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cast_membersType">
    <xs:sequence>
      <xs:element type="personType" name="person" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="genreType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="languageType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="movieType">
    <xs:sequence>
      <xs:element type="xs:string" name="synopsis"/>
      <xs:element type="nationalitiesType" name="nationalities"/>
      <xs:element type="languagesType" name="languages"/>
      <xs:element type="genresType" name="genres"/>
      <xs:element type="cast_membersType" name="cast_members"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="title" use="optional"/>
    <xs:attribute type="xs:string" name="movie_type" use="optional"/>
    <xs:attribute type="xs:string" name="production_year" use="optional"/>
    <xs:attribute type="xs:string" name="release_date" use="optional"/>
    <xs:attribute type="xs:string" name="duration" use="optional"/>
  </xs:complexType>
  <xs:complexType name="nationalityType" mixed="true">
    <xs:sequence>
      <xs:element type="nationalityType" name="nationality" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="optional"/>
  </xs:complexType>
  <xs:complexType name="personsType">
    <xs:sequence>
      <xs:element type="personType" name="person" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="nationalitiesType">
    <xs:sequence>
      <xs:element type="nationalityType" name="nationality" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="personType" mixed="true">
    <xs:sequence>
      <xs:element name="nationalities" minOccurs="0">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:element type="nationalityType" name="nationality" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="role" use="optional"/>
    <xs:attribute type="xs:string" name="code" use="optional"/>
    <xs:attribute type="xs:string" name="name" use="optional"/>
    <xs:attribute type="xs:string" name="gender" use="optional"/>
    <xs:attribute type="xs:string" name="biography" use="optional"/>
  </xs:complexType>
  <xs:complexType name="languagesType">
    <xs:sequence>
      <xs:element type="languageType" name="language"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="moviesType">
    <xs:sequence>
      <xs:element type="movieType" name="movie" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CannesType">
    <xs:sequence>
      <xs:element type="moviesType" name="movies"/>
      <xs:element type="personsType" name="persons"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="year"/>
  </xs:complexType>
</xs:schema>